################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/web-sovellus/.vs/web-sovellus/v16/Server/sqlite3/db.lock
