################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/web-sovellus/.vs/web-sovellus/v16/Server/sqlite3/db.lock
/web-sovellus/web-sovellus/bin/Debug
/web-sovellus/web-sovellus/obj/Debug
/AdManagerWebApp/AdManagerWebApp/obj/Debug/netcoreapp2.2
/AdManagerWebApp/AdManagerWebApp/bin/Debug/netcoreapp2.2
/AdManagerWebApp/.vs/AdManagerWebApp/v16/Server/sqlite3/db.lock
/AdManagerWebApp/AdManagerWebApp/obj/publish/win-x64
