@model AdManagerWebApp.Models.PasswordReset

@{
    ViewData["Title"] = "ConfirmReset";
}

<h4>Password reset</h4>
<hr />
@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <p class="alert alert-danger">@ViewBag.message</p>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="ConfirmReset">
            <div class="form-group">
                <input type="hidden" name="account" value="@Model.user" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" name="code" value="@Model.code" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">New password</label>
                <input type="password" name="new" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Repeat password</label>
                <input type="password" name="repeat" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Reset password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

