@model AdManagerWebApp.Models.UserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeType" class="control-label"></label>
                <input asp-for="EmployeeType" class="form-control" />
                <span asp-validation-for="EmployeeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <hr />
        <h4>Change password</h4>
        <form asp-action="Password">
            <div class="form-group">
                <label class="control-label">Old password</label>
                <input type="password" name="Old" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">New password</label>
                <input type="password" name="New" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Repeat password</label>
                <input type="password" name="Repeat" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Change password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details">Back to details</a>
</div>

