@model UserViewModel
@{
    ViewData["Title"] = "Home Page";
}

<p class="alert alert-warning">@ViewBag.message</p>
<div class="text-center">
    <h1 class="display-4">Login</h1>

    @Html.ActionLink("Login", "Details")

    <br />

    @Html.ActionLink("Forgot Password", "Reset")

</div>