@model UserViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <p class="alert alert-danger">@ViewBag.message</p>
}
<div class="text-center">
    <h1 class="display-4">Login</h1>

    @Html.ActionLink("Login", "Details")

    <br />

    @Html.ActionLink("Forgot Password", "Reset")

</div>